<style>
  #slider-range {
  height: 8px; }
  #slider-range .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none !important;
    background: #7971ea; }
    #slider-range .ui-slider-handle:focus, #slider-range .ui-slider-handle:active {
      outline: none; }
  #slider-range .ui-slider-range {
    background-color: #7971ea; }
  .category-link {
  cursor: pointer;
  }
  .color-container {
  display: flex; /* Enable flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
  gap: 10px; /* Add space between items (adjust as needed) */
}

.color-item {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove default link underline */
}

.color-swatch {
  display: inline-block;
  margin-right: 8px; /* Space between color swatch and text (adjust as needed) */
}
.loading_container {
  position: absolute; /* Ensures that the container stays in place at the top */
  top: 10%; /* Adjust the distance from the top as needed */
  left: 50%; /* Moves the container horizontally to the middle */
  transform: translateX(-50%); /* Centers the container exactly */
  z-index: 1000; /* Ensures the loading spinner is on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
              <div class="d-flex">
                <div class="dropdown mr-1 ml-md-auto">
                  <button   type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Latest
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item category-link " (click)="loadProducts()" style="color: red;" >All</a>
                    <a class="dropdown-item category-link" (click)="loadProductByCategory('Men')" >Men</a>
                    <a class="dropdown-item category-link" (click)="loadProductByCategory('Women')" >Women</a>
                    <a class="dropdown-item category-link" (click)="loadProductByCategory('Kids')" >Kids</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="#">Relevance</a>
                    <a class="dropdown-item" href="#">Name, A to Z</a>
                    <a class="dropdown-item" href="#">Name, Z to A</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Price, low to high</a>
                    <a class="dropdown-item" href="#">Price, high to low</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">

            <!-- Loading Spinner -->
            <div class="loading_container">
              <app-loading-spinner [isLoading]="isLoading">

              </app-loading-spinner>
            </div>
            
            

            <!-- products display-->
            
              <ng-container  *ngFor="let product of products" >
                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" >
                  <div class="block-4 text-center border">
                    <figure class="block-4-image">
                      <a [routerLink]="['/product-detail', product.id]"><img [src]="product.imageURL" alt="{{product.id}}/{{product.name}}.img" class="img-fluid"></a>
                    </figure>
                    <div class="block-4-text p-4">
                      <h3><a [routerLink]="['/product-detail', product.id]">{{product.name}}</a></h3>
                      <p class="mb-0">{{product.category}}</p>
                      <p class="text-primary font-weight-bold">${{product.price}}</p>
                    </div>
                  </div>
                </div>
              </ng-container>
              
              
            </div>
            
            


          
          <div class="row" data-aos="fade-up" *ngIf="!isLoading"> 
            <div class="col-md-12 text-center">
              <div class="site-block-27">
                <ul>
                  <li><a href="#">&lt;</a></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a (click)="loadProducts()" class="d-flex category-link">
                <span style="color: red;">All</span> <span class="text-black ml-auto"></span></a></li>
              <li class="mb-1"><a (click)="loadProductByCategory('Men')" class="d-flex category-link"><span>Men</span> <span class="text-black ml-auto"></span></a></li>
              <li class="mb-1"><a (click)="loadProductByCategory('Women')" class="d-flex category-link"><span>Women</span> <span class="text-black ml-auto"></span></a></li>
              <li class="mb-1"><a (click)="loadProductByCategory('Kids')" class="d-flex category-link"><span>Kids</span> <span class="text-black ml-auto"></span></a></li>
            </ul>
          </div>

          <div class="border p-4 rounded mb-4">
            <div class="mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
              <div id="slider-range" class="border-primary"></div>
              <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
            </div>

            <div class="mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
              <label for="s_sm" class="d-flex">
                <input type="checkbox" id="s_sm" (change)="onCheckboxChange($event, 'Small')" class="mr-2 mt-1  category-link"> <span class="text-black category-link">Small </span>
              </label>
              <label for="s_md" class="d-flex">
                <input type="checkbox" id="s_md" (change)="onCheckboxChange($event, 'Medium')" class="mr-2 mt-1 category-link"> <span class="text-black category-link">Medium </span>
              </label>
              <label for="s_lg" class="d-flex">
                <input type="checkbox" id="s_lg" (change)="onCheckboxChange($event, 'Large')" class="mr-2 mt-1 category-link"> <span class="text-black category-link">Large </span>
              </label>
              <label for="s_xlg" class="d-flex">
                <input type="checkbox" id="s_xlg" (change)="onCheckboxChange($event, 'Extra large')" class="mr-2 mt-1 category-link"> <span class="text-black category-link">Extra Large </span>
              </label>
            </div>

            <div class="mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
              <div class="color-container">
                <ng-container *ngFor="let color of colors">
                  <a (click)="loadProductByColor(color.name)" class="d-flex color-item align-items-center category-link">
                    <span class="color-swatch d-inline-block mr-2" [ngStyle]="{
                      'background-color': color.hexValue,
                      'width': '20px',
                      'height': '20px',
                      'border-radius': '50%',
                      'border': '1px solid #ccc'
                    }"></span>
                    <span class="text-black">{{ color.name }}</span>
                  </a>
                </ng-container>
              </div>
            </div>
            

          </div>
        </div>
      </div>