<style> 
  .loading_container {
    
    top: 10%; /* Adjust the distance from the top as needed */
    left: 50%; /* Moves the container horizontally to the middle */
    
    z-index: 1000; /* Ensures the loading spinner is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="site-blocks-cover" style="background-image: url(assets/images/hero_1.webp);" data-aos="fade">
  <div class="container">
    <div class="row align-items-start align-items-md-center justify-content-end">
      <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
        <h1 class="mb-2">Finding Your Perfect Shoes</h1>
        <div class="intro-text text-center text-md-left">
          <p class="mb-4">Discover the perfect pair of shoes to match your style and comfort needs. Enjoy a wide range of options and find your ideal fit.</p>
          <p>
            <a [routerLink]="['/shop']" class="btn btn-sm btn-primary">Shop Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm site-blocks-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
        <div class="icon mr-4 align-self-start">
          <span class="icon-truck"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Free Shipping</h2>
          <p>Enjoy free shipping on all orders. No minimum purchase required, just shop and save.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon mr-4 align-self-start">
          <span class="icon-refresh2"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Free Returns</h2>
          <p>Not satisfied with your purchase? Return it for free within 30 days for a full refund.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
        <div class="icon mr-4 align-self-start">
          <span class="icon-help"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Customer Support</h2>
          <p>Our customer support team is here to help you with any questions or concerns. Contact us anytime.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section site-blocks-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
        <a class="block-2-item" href="#">
          <figure class="image">
            <img src="assets/images/women.webp" alt="Women's Collection" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>Women</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a class="block-2-item" href="#">
          <figure class="image">
            <img src="assets/images/children.webp" alt="Children's Collection" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>Children</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <a class="block-2-item" href="#">
          <figure class="image">
            <img src="assets/images/men.webp" alt="Men's Collection" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>Men</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section block-3 site-blocks-2 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Featured Products</h2>
      </div>
    </div>
    <div class="loading_container">
      <app-loading-spinner [isLoading]="isLoading">
      </app-loading-spinner>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="nonloop-block-3 owl-carousel">
          
          <ng-container *ngFor="let product of products">
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img style="height: 246px;" [src]="product.imageURL" alt="Product Image" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3><a [routerLink]="['/product-detail', product.id]">{{product.name}}</a></h3>
                  <p class="mb-0">{{product.category}}</p>
                  <p class="text-primary font-weight-bold">${{product.price}}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section block-8">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Big Sale!</h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 mb-5">
        <a href="#"><img src="assets/images/blog_1.webp" alt="Big Sale" class="img-fluid rounded"></a>
      </div>
      <div class="col-md-12 col-lg-5 text-center pl-md-5">
        <h2><a href="#">50% Off on All Items</a></h2>
        <p class="post-meta mb-4">By <a href="#">Carl Smith</a> <span class="block-8-sep">&bullet;</span> September 3, 2018</p>
        <p>Take advantage of our big sale with 50% off on all items. Shop now to get the best deals before they're gone!</p>
        <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
      </div>
    </div>
  </div>
</div>
